<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="emptyPortraitColor" value="DarkGray"/>
    <add key="backgroundColor" value="Gray"/>
    
    <!-- Chat Window Colors -->
    <add key="chatWindowBackgroundColor" value="White"/>
    <add key="inGameChatMessage" value="Red"/>
    <add key="outOfGameCharMessage" value="Blue"/>
    <add key="systemChatMessage" value="Purple"/>
    <add key="actionChatMessage" value="Green"/>
    <add key="errorChatMessage" value="Orange"/>
  </appSettings>
</configuration>